<div class="app-container">
  
  <app-header></app-header>

  <app-search (search)="onSearch($event)"></app-search>

  <div class="error-banner" *ngIf="error">
    {{ error }}
  </div>

  <div class="main-content-grid" *ngIf="authors.length > 0 || loadingAuthors">
    <div class="left-column">
      <app-author-list 
        [authors]="authors" 
        [loading]="loadingAuthors"
        [selectedAuthor]="selectedAuthor"
        (authorSelect)="onAuthorSelect($event)">
      </app-author-list>
    </div>
    
    <div class="right-column">
      <app-publication-list 
        [author]="selectedAuthor" 
        [publications]="publications" 
        [loading]="loadingPublications">
      </app-publication-list>
    </div>
  </div>

</div>